bgcolor=#!0
fgcolor=#!7
palette_color_0=#!0
palette_color_1=#!1
palette_color_2=#!2
palette_color_3=#!3
palette_color_4=#!4
palette_color_5=#!5
palette_color_6=#!6
palette_color_7=#!7
palette_color_8=#!8
palette_color_9=#!1
palette_color_10=#!2
palette_color_11=#!3
palette_color_12=#!4
palette_color_13=#!5
palette_color_14=#!6
palette_color_15=#!7
color_preset=!name
